<nav class="main-menu">
  <div class="user-info">
    <img src="../../assets/imagenes/tesla.jpg" alt="User Image" class="user-image">
    <h2 class="user-name">Bienvenido Matias</h2>
  </div>

  <ul>
    <li class="has-subnav">
      <a href="#">
        <i class="fa-solid fa-dollar-sign fa-2x icon-color"></i>
        <span class="nav-text">Generar Venta</span>
      </a>
    </li>

    <li>
      <a [routerLink]="'/cargar-productos'">
        <i class="fa-solid fa-box fa-2x icon-color"></i> <!-- Usando icono de caja -->
        <span class="nav-text">Cargar Productos</span>
      </a>
    </li>

    <li class="has-subnav">
      <a [routerLink]="'/cargar-categorias'">
        <i class="fa-solid fa-box fa-2x icon-color"></i> <!-- Usando icono de etiquetas -->
        <span class="nav-text">Cargar Categorias</span>
      </a>
    </li>

    <li class="has-subnav">
      <a href="#">
        <i class="fa-solid fa-list fa-2x icon-color"></i> <!-- Usando icono de lista -->
        <span class="nav-text">Listado Productos</span>
      </a>
    </li>

    <li class="has-subnav">
      <a [routerLink]="'/listar-categorias'">
        <i class="fa-solid fa-list fa-2x icon-color"></i> <!-- Usando icono de lista -->
        <span class="nav-text">Listado Categorias</span>
      </a>
    </li>

    <li class="has-subnav">
      <a href="#">
        <i class="fa-solid fa-chart-line fa-2x icon-color"></i> <!-- Usando icono de gráfico -->
        <span class="nav-text">Control de Stock</span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a href="#">
        <i class="fa-solid fa-power-off fa-2x icon-color"></i>
        <span class="nav-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
