body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.main-menu {
  background: #212121; /* Fondo oscuro */
  border-right: 1px solid #fffb00; /* Borde derecho */
  position: fixed; /* Sidebar fijo */
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px; /* Ancho del sidebar */
  height: 100%; /* Altura completa */
  overflow-y: auto; /* Desplazamiento si es necesario */
  z-index: 1000; /* En frente */
  padding-top: 20px; /* Espacio superior general */
  display: flex;
  flex-direction: column; /* Organizar contenido en columna */
}

.logo-container {
  display: flex;
  justify-content: center; /* Centra la imagen */
  margin-bottom: 20px; /* Espacio debajo del logo */
}

.logo {
  width: 50px; /* Ancho del logo */
  height: 50px; /* Altura del logo */
  border-radius: 50%; /* Hacer que el logo sea circular */
}

.user-info {
  display: flex;
  flex-direction: column; /* Coloca el nombre debajo de la imagen */
  align-items: center; /* Centra el texto */
  margin-top: auto; /* Mueve el texto de "Bienvenido" hacia abajo */
  padding-bottom: 20px; /* Espaciado inferior */
}

.user-name {
  color: #fbff03; /* Color del nombre */
  font-size: 16px; /* Tamaño de fuente */
  margin: 0; /* Eliminar márgenes */
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1; /* Deja que el menú ocupe el espacio restante */
}

.main-menu li {
  display: block;
}

.main-menu li a {
  color: #fbff03;
  font-size: 14px;
  text-decoration: none;
  padding: 22px 15px;
  display: flex;
  align-items: center;
  transition: color .1s linear, background-color .1s linear;
}

.main-menu li a i {
  margin-right: 10px;
}

.main-menu li:hover > a {
  color: #fff;
  background-color: #000;
}

.icon-color {
  color: #f1f1f1;
}

.logout {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
