/* Reinicio de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Fondo negro */
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenedor de login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: rgba(0, 0, 0, 0.8);
  color: #eeff00;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

/* Estilo de las entradas */
.input-group {
  width: 100%;
  margin-bottom: 15px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #444;
  color: #ffffff;
}

/* Estilo del botón */
.login-button {
  background-color: #eeff00;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #d4d400;
}

/* Estilo de la imagen */
.login-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
}
